:root {
	--white: #fff;
	--black: #000;
	--link-hover: #6394fd;
	--bg: #a8dcf0;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	background-color: var(--white);
    font-family: 'Lato', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
}

header {
	padding: 15px 0 
}

.header-box {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.logo {
	font-size: 22px;
}

.header-Items {
	justify-self: right;
}

.header-links li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

.header-links li a {
	text-decoration: none;
	font-size: 18px;
	color: var(--black);
	font-weight: 300;
}

.header-links li:last-child a {
	color: var(--link-hover)
}

.header-links li:nth-child(5) a {
	color: grey
}

.header-links li a:hover {
    color: var(--link-hover)
}

.btn {
	border-radius: 20px;
} 

.login-btn  {
	padding: 10px 25px;
	border: 1px solid var(--link-hover);
}

.header-links li:last-child a:hover {
	color: grey
}







section {
	margin-bottom: 100px
}

.aiot-intro {
background: linear-gradient(125.92deg, #3A84FF 41.93%, #76D9F0 91.87%),
linear-gradient(0deg, #2F70FE, #2F70FE);
}

.aiot-intro-container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 80px;
}

.intro-content {
	max-width: 600px;
	color: var(--white)
}

.intro-title h1 {
	font-size: 42px;
}

.intro-content div {
	margin-bottom: 50px
}

.intro-desc {
	font-size: 18px;
	line-height: 2rem
}

.intro-links a {
    margin-right: 10px;
    border: 1px solid black;
    text-decoration-line: none;
}

.intro-graphic {
	text-align: center;
}

.intro-graphic img {
	width: 530px;
	height: 400px;
}

.btn-dark {
	background-color: var(--black);
	color: var(--white);
	padding: 15px 25px;
}

.btn-blue {
   background-color: var(--bg);
   padding: 15px 37px;
   color: var(--black)
}




.connect {
	text-align: center;
}

.connect-title {
	text-align: center;
	padding: 0 0 70px
}

.connect-title h1 {
	font-size: 34px
}

.connect-items {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-items: center;
	grid-gap: 50px 
}

.connect-items .item {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.image-container {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
	border-radius: 50%;
	margin-bottom: 50px
}

.image-container img {
	width: 50px;
	height: 50px;
}



.features-container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	align-items: center;
	grid-gap: 40px; 
}

.features-logo {
	padding: 15px
}

.features-logo img {
	widows: 400px;
	height: 400px;
}

.features-items {

}

.features-items .features-title {
	text-align: center;
	margin-bottom: 40px
}

.features-items .features-title h1 {
	font-size: 34px
}

.items-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	grid-column-gap: 90px;
	grid-row-gap: 50px
}

.items-container .item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.features-items .item .item-logo img {
	width: 45px;
	height: 45px; 
}

.benefits-title {
	font-size: 34px;
	text-align: center;
	margin-bottom: 70px
}

.benefits-items {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	align-items: center;
}

.benefits-items .item {
	max-width: 250px;
	text-align: center;
}

.benefits-items .item * {
	margin-bottom: 20px
}



.comunity {
	text-align: center;
	background: url(../images/Vector1.svg) no-repeat ;
	background-size: cover
}

.comunity-container img {
	width: 500px;
	height: 400px
}




.solutions-title,
.solutions-explain {
	text-align: center;
	margin-bottom: 30px;
}

.solutions-title h1 {
	font-size: 34px
}

.solutions-links {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 15px
}

.lg-links {
	display: grid;
	grid-gap: 15px;
	align-items: center;
	justify-content: center;
}

.sm-links {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
	grid-column-gap: 15px;
	grid-row-gap: 20px
}

.layer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	top: 0;
	left: 0;
	color: var(--white);
	padding: 30px;
	display: none;
}

.solutions-links .link:hover .layer {
	display: grid;
}

.solutions-links .link:hover .title {
	display: none;
}


.layer h2 {
	align-self: end;
}

.lg-links .link, .sm-links .link {
	position: relative;
}

.lg-links .link img {
	width: 380px;
	height: 500px
}

.sm-links .link img {
	width: 380px;
	height: 325px;
}

.solutions-links .title  {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: var(--white)
}




.partner
.partner-title,
.partner-explain {
	margin-bottom: 30px;
	text-align: center;
}

.partner-explain p {
	width: 500px;
	margin: auto;
}

.partner-links {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 25px; 
}

.partner-links .link {
	width: 175px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgrey
}







@media only screen and (max-width:1200px) {

.header-link, .logo {
	margin: 0 15px;
  }
 
}

 @media only screen and (max-width:992px) {

.header-link, .logo {
	margin: 0 10px;
  }
 
}

 @media only screen and (max-width:768px) {

 .container {
 	width: 100%
 }	

.header-link a {
	font-size: 16px
  }
 
}

 @media only screen and (max-width:576px) {

.header-link, .logo {
	margin: 0 5px;
  }
 
}


