:root {
	--white: #fff;
	--black: #000;
	--link-hover: #6394fd;
	--bg: #a8dcf0;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	background-color: var(--white);
    font-family: 'Lato', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
}

header {
	padding: 15px 0 
}

.header-box {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.logo {
	font-size: 22px;
}

.header-Items {
	justify-self: right;
}

.header-links li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
}

.header-links li a {
	text-decoration: none;
	font-size: 18px;
	color: var(--black);
	font-weight: 300;
}

.header-links li:last-child a {
	color: var(--link-hover)
}

.header-links li:nth-child(5) a {
	color: grey
}

.header-links li a:hover {
    color: var(--link-hover)
}

.btn {
	border-radius: 20px;
} 

.login-btn  {
	padding: 10px 25px;
	border: 1px solid var(--link-hover);
}

.header-links li:last-child a:hover {
	color: grey
}



section h1 {
	font-size: 34px
}

.aiot-intro {
    background: linear-gradient(125.92deg, #3A84FF 41.93%, #76D9F0 91.87%),
    linear-gradient(0deg, #2F70FE, #2F70FE);
}

.aiot-intro-container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 80px;
}

.intro-content {
	max-width: 600px;
	color: var(--white)
}

.intro-title h1 {
	font-size: 42px;
}

.intro-content div {
	margin-bottom: 50px
}

.intro-desc {
	font-size: 18px;
	line-height: 2rem
}

.intro-links a {
    margin-right: 10px;
    border: 1px solid black;
    text-decoration-line: none;
}

.intro-graphic {
	text-align: center;
}

.intro-graphic img {
	width: 530px;
	height: 400px;
}

.btn-dark {
	background-color: var(--black);
	color: var(--white);
	padding: 15px 25px;
}

.btn-blue {
   background-color: var(--bg);
   padding: 15px 37px;
   color: var(--black)
}




.section-qualities {
	background-color: #dceef9
}

.section-heading {
	padding: 0 0 70px
}

.section-qualities-items {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	align-items: center;
}

.section-qualities-items .item {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.image-container {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
	border-radius: 50%;
	margin-bottom: 50px
}

.image-container img {
	width: 50px;
	height: 50px;
}



.section-feature {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	align-items: center;
	grid-gap: 40px; 
}

.feature-image {
	padding: 15px
}

.feature-image img {
	widows: 400px;
	height: 400px;
}

.feature-heading {
	margin-bottom: 40px
}

.feature-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	grid-column-gap: 90px;
	grid-row-gap: 50px
}

.feature-items .item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.feature-items .item .item-logo img {
	width: 45px;
	height: 45px; 
}

.benefits-title {
	font-size: 34px;
	text-align: center;
	margin-bottom: 70px
}

.benefits-items {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	align-items: center;
}

.benefits-items .item {
	max-width: 250px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	grid-gap: 20px;  
	text-align: center;
	box-shadow: 0px 2px 20px 0px rgba(204, 204, 204, .8);
    border-radius: 15px
}



.community {
	text-align: center;
	background: url(../images/Vector1.svg) no-repeat ;
	background-size: cover
}

.community-image {
	width: 500px;
	height: 400px
}



.solutions-cards {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 15px
}

.lg-card {
	display: grid;
	grid-gap: 15px;
	align-items: center;
	justify-content: center;
}

.sm-card {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
	grid-column-gap: 15px;
	grid-row-gap: 20px
}

.card-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	top: 0;
	left: 0;
	color: var(--white);
	padding: 30px;
	display: none;
}

.solutions-cards .card:hover .card-overlay {
	display: grid;
}

.solutions-cards .card:hover .title {
	display: none;
}


.card-overlay h2 {
	align-self: end;
}

.lg-card .card, .sm-card .card {
	position: relative;
}

.lg-card .card img {
	width: 380px;
	height: 500px
}

.sm-card .card img {
	width: 380px;
	height: 325px;
}

.solutions-cards .title  {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: var(--white)
}




.partner
.partner-title,
.partner-explain {
	margin-bottom: 30px;
	text-align: center;
}

.partner-explain p {
	width: 500px;
	margin: auto;
}

.partner-links {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 25px; 
}

.partner-links .link {
	width: 175px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgrey
}

.partner-sign-in {
	text-align: center;
	margin-top: 50px
}

.partner-btn {
	padding: 10px 45px;
	border: 1px solid black;
	text-decoration: none;
	color: var(--black)
}




footer {
	background-color: var(--black);
	padding: 20px 0;
	color: var(--white)
}

.footer-content {
   	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-around;
	align-items: center;
}

.footer-content p {
	margin-top: 20px
}

.aiot-contact p:first-child {
	margin-top: 0
}

.footer-content li {
	list-style: none;
	display: inline-block;
	margin-right: 10px 
} 

.footer-content a {
	color: var(--white);
	text-decoration: none;
}

.footer-content a:hover {
	color: var(--link-hover)
} 

.aiot-media li a {
	font-size: 26px;
}

.aiot-media ul {
	text-align: center;
}





.p-h {
	padding: 60px 0; 
}

.text-center {
	text-align: center;
}

.pb-h {
	padding-bottom: 70px
}

.p-4-1 {
	padding: 40px 10px
}

.mb-h {
	margin-bottom: 30px
}








@media only screen and (max-width:1200px) {

.header-link, .logo {
	margin: 0 15px;
  }
 
}

 @media only screen and (max-width:992px) {

.header-link, .logo {
	margin: 0 10px;
  }
 
}

 @media only screen and (max-width:768px) {

 .container {
 	width: 100%
 }	

.header-link a {
	font-size: 16px
  }
 
}

 @media only screen and (max-width:576px) {

.header-link, .logo {
	margin: 0 5px;
  }
 
}


