:root {
	--primary: #fff;
	--dark: #000;
	--hover: #6394fd
}


* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	background-color: var(--primary)
}

.container {
	width: 90%;
	margin: auto;
}

header {
	padding: 20px 0 15px
}

.header-box {
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.logo {
	font-size: 22px;
	margin: 0 20px;
}

.header-Items {
	justify-self: flex-end;
}

.header-link {
	display: inline-block;
	margin: 0 20px;
	list-style: none;
}

.header-link a {
	text-decoration: none;
	font-size: 18px;
	color: var(--dark)
}

.header-link:nth-child(5) a {
	color: grey
}

.header-link a:hover {
    color: var(--hover)
}

.login-link  {
	padding: 10px 20px;
	border: 1px solid var(--hover);
	border-radius: 20px
}

.login-link a {
	color: var(--hover)
}





@media only screen and (max-width:1200px) {

.header-link, .logo {
	margin: 0 15px;
  }
 
}

 @media only screen and (max-width:992px) {

.header-link, .logo {
	margin: 0 10px;
  }
 
}

 @media only screen and (max-width:768px) {

 .container {
 	width: 100%
 }	

.header-link a {
	font-size: 16px
  }
 
}

 @media only screen and (max-width:576px) {

.header-link, .logo {
	margin: 0 5px;
  }
 
}


